beautifulsoup4==4.13.4
html2text==2025.4.15
llama-index-core==0.14.4
llama-index-vector-stores-pinecone==0.7.1
llama-index-embeddings-openai==0.5.1
llama-index-llms-openai==0.6.2
openai==1.109.1
python-dotenv==1.1.0
pinecone==7.3.0
requests==2.32.5
selenium==4.36.0
transformers==4.52.2
